@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IList<BullardLibros.Core.DTO.CategoriaDTO>



<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Categorias</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    @if (ViewBag.EsAdmin)
                    {
                        <div class="row text-sm wrapper">

                            <div class="col-sm-8">
                                <div class="btn-group">

                                    <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-sm btn-success pull-right btn-rounded" href="@Url.Action("Categoria")"><i class="fa fa-plus"></i> Crear nueva Categoría</a>
                            </div>
                        </div>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th width="40%">Nombre</th>
                                    <th class="text-center" width="20%">Orden</th>
                                    <th class="text-center" width="20%">Estado</th>
                                    <th class="text-center" width="20%">Opciones</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </section>
            </div>
            </div>
    </section>
</section>