@using BullardLibros.Core.DTO
@model CategoriaDTO
@{
    ViewBag.Title = "Entidad";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">

        </div>
    </section>
</section>
