@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Globalization;

@section scripts{
    <script type="text/javascript">
        
    </script>
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-12">
                <h2>Empresas</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    
                </section>
                <section class="panel panel-default">
                    @if (ViewBag.EsAdmin)
                    {
                        
                    }
                    
                </section>
            </div>
        </div>
    </section>
</section>